h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}

h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-left: 20px;
}

div.nav-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    width: 100%
}

span {
    padding: 5px;
}

span.focused {
    background-color: rgb(143, 202, 163);
    padding: 5px;
    border-radius: 10px;
}

span:hover {
    background-color: rgb(143, 202, 163);
    padding: 5px;
    border-radius: 10px;
}

a.projects {
    text-decoration: none;
    font-size: larger;
    color: rgb(50, 97, 65);
}

a:hover {
    color: black;
}

a {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-decoration: none;
    /* color: rgb(75, 153, 101); */
    color: black;
}

p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 10px;
}

div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



img.pc_image {
    width: 100%
}

img.pc_screen {
    opacity: 0;
    width: 24%;
    position: relative;
    bottom: 201px;
    left: 129px;
    transition: opacity 1s;
}

img.pc_screen:hover {
    opacity: 1;
}

img.storyboard {
    width: 100%;
}

div.paint {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

/* body {
    background-color:rgb(238, 255, 244)
} */
