@font-face {
  font-family: 'Cascadia Code';
  src: url('fonts/CascadiaCode.woff2') format('woff2'),
       url('fonts/CascadiaCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Bitcount Single';
    src: url('fonts/BitcountSingle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* body {
    background-color:rgb(238, 255, 244)
} */

footer {
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
    img.pc_image {
        opacity: 0;
        width: 0;
    }

    img.pc_screen {
        opacity: 0;
        width: 0;
    }
}

@media only screen and (min-width: 600px) {
    img.pc_image {
        opacity: 0;
        width: 0;
    }

    img.pc_screen {
        opacity: 0;
        width: 0;
    }
}

/* @media only screen and (min-width: 768px) {
    div.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    div.vert-centre-intro-text {
        padding-top: 10%;
    }

    img.pc_image {
        opacity: 1;
        width: 100%;
    }

    img.pc_screen {
        opacity: 1;
        width: 24%;
        position: relative;
        bottom: 62%;
        left: 35%;
        transition: opacity 1s;
    }

    img.pc_screen:hover {
        opacity: 1;
    }
}  */

@media only screen and (min-width: 840px) {
    div.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    div.vert-centre-intro-text {
        padding-top: 10%;
    }

    img.pc_image {
        opacity: 1;
        width: 100%;
    }

    img.pc_screen {
        opacity: 0;
        width: 24%;
        position: relative;
        bottom: 62%;
        left: 35%;
        transition: opacity 1s;
    }

    img.pc_screen:hover {
        opacity: 1;
    }

    div.experience-grid {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }   
} 

@media only screen and (min-width: 992px) {
    div.vert-centre-intro-text {
        padding-top: 15%;
    }
} 

h1 {
    font-family: "Cascadia Code", monospace;
    text-align: center;
}

h2 {
    font-family: "Cascadia Code", monospace;
}

h3 {
    font-family: "Cascadia Code", monospace;
    padding-left: 20px;
}

div.nav-container {
    position: sticky;
    top: 0px;
    background-color: rgb(222, 236, 209);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    width: auto;
    padding: 5px;
}

div.vert-centre {
    padding-top: 9px;
}

div.padding {
    padding-left: 10%;
    padding-right: 10%
}

div.paint {
    text-align: center;
}

img.paint {
    max-width: 50%;
}

span {
    padding: 5px;
}

span:hover {
    background-color: rgb(143, 202, 163);
    padding: 5px;
    border-radius: 10px;
}

span.icon:hover {
    padding-top: 24px;
}

span.focused {
    background-color: rgb(143, 202, 163);
    padding: 5px;
    border-radius: 10px;
}

a {
    font-family: "Cascadia Code", monospace;
    text-decoration: none;
    /* color: rgb(75, 153, 101); */
    color: black;
}

a.projects {
    text-decoration: none;
    font-size: larger;
    color: rgb(50, 97, 65);
}

a.projects:hover {
    color: black;
}

p {
    font-family: "Cascadia Code", monospace;
    padding: 10px;
    font-weight: lighter;
}

p.pixel {
    font-family: "Bitcount Single", monospace;
    font-size: 150%;
    color: rgb(199, 61, 192);
} 

p.center {
    text-align: center;
}

img.icon {
    width: 48px;
}

img.storyboard {
    width: 100%;
}

iframe {
    display: block;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    font-size: small;
}

